# This file defines the code owners for this repository

# When a pull request is opened, the users listed here will be automatically

# requested for review

# Global owners - review all changes

- @kc-clintone

# Documentation owners

/docs/ @kc-clintone

# GitHub configuration owners

/.github/ @kc-clintone
