# This file defines the code owners for this repository

# When a pull request is opened, the users listed here will be automatically

# requested for review

# CODEOWNERS format: path followed by GitHub username(s)
# Root ownership
/ @kc-clintone
docs/ @kc-clintone
.github/ @kc-clintone
