name: CI

on:
  pull_request:
    branches: [main, master]

permissions:
  contents: read

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Check for broken links in Markdown
        uses: gaurav-nelson/github-action-markdown-link-check@v1
        with:
          use-verbose-mode: "yes"
          config-file: ".github/workflows/mlc_config.json"

      - name: Lint Markdown
        uses: avto-dev/markdown-lint@v1
        with:
          args: >
            **/*.md
            !node_modules/**
            !.git/**
